body {
  padding-top:30px;
}

.small-up-column {
  display: none;
}

.medium-up-column {
  display: none;
}

@media (min-width: 550px) {
  .small-up-column {
    display: table-cell;
  }
}

@media (min-width: 750px) {
  .medium-up-column {
    display: table-cell;
  }
}

.u-hidden {
  display: none;
}

table {
  max-width: 100%;
}

.artist-desc {
  max-height: 190px;
  overflow: hidden;
}

.desc-more {
  text-align: center;
  margin-bottom: 20px;
}

.torrent-container {
  max-height: 275px;
  overflow: hidden;
}

.brand-link {
  margin-top:50px;
  text-decoration:none;
  color:#000;
}

.settings-link {
  float:right;
  text-decoration:none;
  color:#000;
}

/* alerts */
.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

.button:disabled {
  border: 1px solid #E3E3E3;
  color: #888;
  cursor: not-allowed;
}
