{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="three columns">
      <img src="{{ results.image }}" width='100%'/>
    </div>
    <div class="nine columns">
      <div class="artist-desc js-artist-desc">
        <h2>{{ results.name | safe }}</h2>
        <p>{{ results.body | safe}}</p>
      </div>
      <div class="u-full-width desc-more">
        <a href="" class="js-desc-more-link">More</a>
        <a href="" class="js-desc-less-link u-hidden">Less</a>
      </div>
    </div>
  </div>

  <select class="u-full-width js-type-filter">
    <option value="0">All Releases</option>
    <option value="1" selected>Albums</a>
    <option value="3">Soundtracks</option>
    <option value="5">EPs</option>
    <option value="6">Anthologies</option>
    <option value="7">Compilations</option>
    <option value="9">Singles</option>
    <option value="11">Live albums</option>
    <option value="13">Remixs</option>
    <option value="14">Bootlegs</option>
    <option value="15">Interviews</option>
    <option value="16">Mixtapes</option>
    <option value="21">Unknowns</option>
    <option value="23">Demos</option>
  </select>

  <input type="search" class="u-full-width js-text-filter" placeholder="Filter by title">

  {% for res in results.torrentgroup %}
    <div class="js-release js-release-type-{{ res.releaseType }}">
      <h2 class="js-title">{{ res.groupYear }} - {{ res.groupName | safe }}</h2>
      <a href="/group_info?id={{ res.groupId }}" groupId="{{ res.groupId }}" class="js-more-info">More Info</a>
      <a href="" groupId="{{ res.groupId }}" class="js-less-info u-hidden">Less Info</a>
      <div class="js-more-info-{{ res.groupId }}"></div>

      <div class="torrent-container js-torrent-container-{{ res.groupId }}">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Format</th>
              <th>Files</th>
              <th class='small-up-column'>Size</th>
              <th class='medium-up-column'>Added</th>
              <th class='medium-up-column'>Snatched</th>
              <th class='small-up-column'>Seeders</th>
              <th class='medium-up-column'>Leechers</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for torrent in res.torrent %}
              <tr>
                <td width=25%>
                  {{ torrent.displayTitle }}<br>
                  {{ torrent.media }} / {{ torrent.format }} {{ torrent.encoding }}
                  {% if torrent.hasLog %}
                    / {{ torrent.logScore }}%
                  {% endif %}
                  {% if torrent.hasCue %}
                    / Cue
                  {% endif %}
                </td>
                <td>{{ torrent.fileCount }}</td>
                <td class='small-up-column'>{{ torrent.size }}</td>
                <td class='medium-up-column'>{{ torrent.time }}</td>
                <td class='medium-up-column'>{{ torrent.snatched }}</td>
                <td class='small-up-column'>{{ torrent.seeders }}</td>
                <td class='medium-up-column'>{{ torrent.leechers }}</td>
                <td>
                  {% if torrent.alreadySnatched == 1 %}
                    <button class="button" disabled>Snatched!</button>
                  {% else %}
                    <a href="/want" class="js-download button" torrentInfo="{{ torrent.json }}">Download</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="u-full-width desc-more">
        <a href="" groupId="{{ res.groupId }}" class="js-torrent-more-link">More</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
