<div class="row">
  <div class="three columns">
    <img src="{{ group_info.wikiImage }}" width='100%'>
  </div>
  <div class="six columns">
    {{ group_info.wikiBody | safe}}
  </div>
  <div class="three columns">
    <table class="u-fullwidth">
      <tbody>
        <tr>
          <td>Category</td>
          <td>{{ group_info.category }}</td>
        </tr>
        <tr>
          <td>Time</td>
          <td>{{ group_info.time }}</td>
        </tr>
        <tr>
          <td>Label</td>
          <td>{{ group_info.recordLabel }}</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>{{ ", ".join(group_info.tags) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
