{% extends "layout.html" %}
{% block body %}
<h2>Recent Snatches</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Release</th>
      <th>Quality</th>
      <th>Added</th>
      <th>Snatched</th>
    </tr>
  <thead>
  <tbody>
    {% for t in torrents %}
      <tr>
        <td>{{ t[1] }}</td>
        <td>{{ t[2] }} / {{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[5] }}</td>
        <td>
          {% if t[6] == 0 %}
            <i class="fa fa-times"></i>
          {% else %}
            <i class="fa fa-check"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
