<!doctype html>
<head>
<head>
  <meta charset="utf-8">
  <title>GazelleUI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="GazelleUI">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/assets/style.css" rel="stylesheet">

  <link rel="apple-touch-icon" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#461e1e">
  <meta name="theme-color" content="#461e1e">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center">
      <a href="/"><img src="/assets/logo.png" style="max-width: 200px"></a>
    </h1>

    {% include "shared/_filters.html" %}

    <div class="js-body-content">
      {% block body %}{% endblock %}
    </div>

    <div style="text-align: center">
      <p>
      {% if userinfo is defined %}
        {{ userinfo[0] }} / Up: {{ userinfo[1] }} / Down: {{ userinfo[2] }} / Ratio: {{ userinfo[3] }} / Required: {{ userinfo[4] }} /
        {% if settings is defined and settings.use_tokens is defined and settings.use_tokens[2] %}
          Tokens: {{ settings.use_tokens[2]|int }} /
        {% endif %}
      {% endif %}
        <a href="/snatches">Snatches</a> / <a href="/settings">Settings</a> / <a href="/subscriptions">Subscriptions</a>
        {% if session.logged_in %}/ <a href="/logout">Logout</a>{% endif %}
      </p>
  </div>
  </div>

  <script src="/assets/script.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/assets/sw.js')
          .then(function(registration) {
            console.log('SW registered: ', registration);
          }, function(registrationError) {
            console.log('SW registration failed: ', registrationError);
          });
      });
    }
  </script>
</body>
