<!doctype html>
<head>
<head>
  <meta charset="utf-8">
  <title>WhatUI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>
      <a href="/" class="brand-link">WhatUI</a>
      <a href="/settings" class="settings-link"><i class="fa fa-cog"></i></a>
    </h1>
    <form action="/artist" method="get">
      <div class="row">
        <div class="twelve columns">
          <input style="text-align:center;" class="u-full-width" type="search" placeholder="Search Artists" name="q">
        </div>
      </div>
    </form>
    <form action="/browse" method="get">
      <div class="row">
        <div class="twelve columns">
          <input style="text-align:center;" class="u-full-width" type="search" placeholder="Search Title" name="q">
        </div>
      </div>
    </form>
    {% block body %}{% endblock %}
  </div>

  <script src="/assets/jquery-1.11.3.min.js"></script>
  <script src="/assets/script.js"></script>
</body>
