<!doctype html>
<head>
<head>
  <meta charset="utf-8">
  <title>WhatUI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">
  <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1>WhatUI</h1>
    <form action="/search" method="get">
      <div class="row">
        <div class="nine columns">
          <input class="u-full-width" type="search" placeholder="The Evan Robbins Experience" name="q">
        </div>
        <div class="three columns">
          <input class="u-full-width" type="submit" value="Search Artists">
        </div>
      </div>
    </form>
    {% block body %}{% endblock %}
  </div>

  <script src="/assets/jquery-1.11.3.min.js"></script>
  <script src="/assets/script.js"></script>
</body>
