{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="three columns">
      <img src="{{ results.image }}" width='100%'/>
    </div>
    <div class="nine columns">
      <h2>{{ results.name | safe }}</h2>
      <p>{{ results.body | safe}}</p>
    </div>
  </div>

  <a class="js-show-all button">All</a>
  <a class="js-only-albums button">Albums</a>
  <a class="js-only-eps button">Eps</a>
  <a class="js-only-singles button">Singles</a>
  <a class="js-only-demos button">Demos</a>
  <a class="js-only-anthologies button">Anthologies</a>
  <a class="js-only-compilations button">Compilations</a>
  <a class="js-only-soundtracks button">Soundtracks</a>
  <a class="js-only-live button">Live Albums</a>
  <a class="js-only-remixes button">Remixes</a>

  {% for res in results.torrentgroup %}
    <div class="js-release js-release-type-{{ res.releaseType }}">
      <h2>{{ res.groupYear }} - {{ res.groupName | safe }}</h2>
      <a href="/group_info?id={{ res.groupId }}" groupId="{{ res.groupId }}" class="js-more-info">More Info</a>
      <a href="" groupId="{{ res.groupId }}" class="js-less-info u-hidden">Less Info</a>
      <div class="js-more-info-{{ res.groupId }}"></div>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Format</th>
            <th>Files</th>
            <th class='small-up-column'>Size</th>
            <th class='medium-up-column'>Added</th>
            <th class='medium-up-column'>Snatched</th>
            <th class='small-up-column'>Seeders</th>
            <th class='medium-up-column'>Leechers</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for torrent in res.torrent %}
            <tr>
              <td>{{ torrent.format }} {{ torrent.encoding }} </td>
              <td>{{ torrent.fileCount }}</td>
              <td class='small-up-column'>{{ torrent.size }}</td>
              <td class='medium-up-column'>{{ torrent.time }}</td>
              <td class='medium-up-column'>{{ torrent.snatched }}</td>
              <td class='small-up-column'>{{ torrent.seeders }}</td>
              <td class='medium-up-column'>{{ torrent.leechers }}</td>
              <td><a href="/want?id={{ torrent.id }}" class="js-download button">Download</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
