{% extends "layout.html" %}
{% block body %}

{% if message != None %}
  <p class="alert {{ message_class }}">{{ message }}</p>
{% endif %}

<div class="row">
  <div class="six columns">
    <h4>GazelleUI Credentials</h4>
    <p>The username and password you'd like to use to log in here.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="webui_credentials" name="setting">
      <label for="webui-credentials">Username</label>
      <input class="u-full-width" type="text" id="webui-credentials" name="value_1" value="{{ settings.webui_credentials[1] }}">

      <label for="webui-password">Password</label>
      <input class="u-full-width" type="password" id="webui-password" name="value_2" placeholder="••••••••••••••••">

      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <h4>Tracker Domain</h4>
    <p>The domain of the site you use to log in, including protocol (https://apollo.rip, https://passtheheadphones.me).</p>
    <form action="/settings" method="post">
      <input type="hidden" value="domain" name="setting">
      <input type="hidden" value="" name="value_2">
      <label for="username">Domain</label>
      <input class="u-full-width" type="text" id="domain" name="value_1" value="{{ settings.domain[1] }}">

      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <h4>Tracker Credentials</h4>
    <p>The username and password that you use to log in to the site.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="what_credentials" name="setting">
      <label for="username">Username</label>
      <input class="u-full-width" type="text" id="username" name="value_1" value="{{ settings.what_credentials[1] }}">

      <label for="password">Password</label>
      <input class="u-full-width" type="password" id="password" name="value_2" placeholder="••••••••••••••••">
      <input class="button u-pull-right" type="submit" value="Save">
    </form>
  </div>

  <div class="six columns">
    <h4>Torrents</h4>
    <p>Torrent settings</p>
    <form action="/settings" method="post">
      <input type="hidden" value="torrent" name="setting">
      <label for="bind">Save location (must end in a slash)</label>
      <input class="u-full-width" type="text" id="bind" name="value_1" value="{{ settings.torrent[1] }}">
      <input type="hidden" value="" name="value_2">
      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <h4>Network</h4>
    <p>The what port to listen on and who to respond to. Requires a restart. Defaults are fine for most users.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="network" name="setting">
      <label for="bind">Bind</label>
      <input class="u-full-width" type="text" id="bind" name="value_1" value="{{ settings.network[1] }}">

      <label for="port">Port</label>
      <input class="u-full-width" id="port" type="text" name="value_2" value="{{ settings.network[2] }}">
      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <h4>Discord Integration</h4>
    <p>Post to this webhook URL when a download starts.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="discord" name="setting">
      <input type="hidden" value="" name="value_2">
      <label for="url">URL</label>
      <input class="u-full-width" type="text" id="url" name="value_1" value="{{ settings.discord[1] }}">

      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <h4>Tokens</h4>
    <p>Use freelech tokens when available, you currently have {{ settings.use_tokens[2]|int }}</p>
    <form action="/settings" method="post" id="tokens-form">
      <input type="hidden" value="use_tokens" name="setting">
      <input type="hidden" id="use-tokens-hidden" name="value_1" value="{% if settings.use_tokens[1] == 'true' %}true{% else %}false{% endif %}">
      <input type="hidden" value="{{ settings.use_tokens[2] }}" name="value_2">
      <label for="use-tokens">
        <input type="checkbox" id="use-tokens" {% if settings.use_tokens[1] == 'true' %}checked{% endif %}>
        Use Tokens
      </label>

      <input class="button u-pull-right" type="submit" value="Save">
    </form>

    <script>
      document.getElementById('use-tokens').addEventListener('change', function() {
        document.getElementById('use-tokens-hidden').value = this.checked ? 'true' : 'false';
      });
    </script>
  </div>
</div>

{% endblock %}
