{% extends "layout.html" %}
{% block body %}

{% if message != None %}
  <p class="alert {{ message_class }}">{{ message }}</p>
{% endif %}

<div class="row">
  <div class="six columns">
    <h4>ApolloUI Credentials</h4>
    <p>The username and password you'd like to use to log in here.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="webui_credentials" name="setting">
      <label for="webui-credentials">Username</label>
      <input class="u-full-width" type="text" id="webui-credentials" name="value_1" value="{{ settings.webui_credentials[1] }}">

      <label for="webui-password">Password</label>
      <input class="u-full-width" type="password" id="webui-password" name="value_2" placeholder="••••••••••••••••">

      <input class="button-primary u-pull-right" type="submit" value="Save">
    </form>
  </div>

  <div class="six columns">
    <h4>Apollo.rip Credentials</h4>
    <p>The username and password that you use to log in to Apollo.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="what_credentials" name="setting">
      <label for="username">Username</label>
      <input class="u-full-width" type="text" id="username" name="value_1" value="{{ settings.what_credentials[1] }}">

      <label for="password">Password</label>
      <input class="u-full-width" type="password" id="password" name="value_2" placeholder="••••••••••••••••">
      <input class="button-primary u-pull-right" type="submit" value="Save">
    </form>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <h4>Network</h4>
    <p>The what port to listen on and who to respond to. Requires a restart.</p>
    <form action="/settings" method="post">
      <input type="hidden" value="network" name="setting">
      <label for="bind">Bind</label>
      <input class="u-full-width" type="text" id="bind" name="value_1" value="{{ settings.network[1] }}">

      <label for="port">Port</label>
      <input class="u-full-width" id="port" type="text" name="value_2" value="{{ settings.network[2] }}">
      <input class="button-primary u-pull-right" type="submit" value="Save">
    </form>
  </div>

  <div class="six columns">
    <h4>Torrents</h4>
    <p>Torrent settings<br><br></p>
    <form action="/settings" method="post">
      <input type="hidden" value="torrent" name="setting">
      <label for="bind">Save location (must end in a slash)</label>
      <input class="u-full-width" type="text" id="bind" name="value_1" value="{{ settings.torrent[1] }}">
      <input type="hidden" value="" name="value_2">
      <input class="button-primary u-pull-right" type="submit" value="Save">
    </form>
  </div>
</div>
{% endblock %}
