{% extends "layout.html" %}
{% block body %}
<h2>Subscriptions</h2>

<form action="/create_sub" method="post">
  <select name="search_type">
    <option value="artist">Artist</option>
      </select>

  <input name="term" type="search" placeholder="search term">

  <select name="quality">
    <option value="24bit Lossless">24bit Lossless</option>
    <option value="Lossless" selected>Lossless</option>
    <option value="320">320</option>
    <option value="V0 (VBR)">V0 (VBR)</option>
  </select>

  <select name="release_type">
    {% for mapping in mappings %}
        <option value="{{mapping.value}}">{{mapping.name}}</option>
    {% endfor %}
  </select>

  <input type="submit" class="button" value="Add Subscription">
</form>

<p>Subscriptions are checked every 12 hours.</p>


<table class="u-full-width">
  <thead>
    <tr>
      <th>Type</th>
      <th>Term</th>
      <th>Quality</th>
      <th>Release Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for sub in subs %}
      <tr>
        <td>{{ sub['search_type']|capitalize }}</td>
        <td>{{ sub['term'] }}</td>
        <td>{{ sub['quality'] }}</td>
        <td>{{ mappings(sub['release_type']|int).name }}</td>
        <td><a href="/delete_sub/{{ sub['id'] }}">Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
