<div class="js-search-box">
  <form class="js-search" action="/artist" method="get">
    <div class="row">
      <div class="twelve columns">
        <input style="text-align:center;" class="u-full-width" type="search" placeholder="Search Artists" name="q">
        <p class="js-more-search more-search"><a>More Filters</a></p>
      </div>
    </div>
  </form>

  <div class="js-advanced-search advanced-search">
    <h4>Other Search Types</h4>
    <form action="/browse" method="get">
      <div class="row">
        <div class="twelve columns">
          <input style="text-align:center;" class="u-full-width" type="search" placeholder="Search Title" name="q">
        </div>
      </div>
    </form>
    <form action="/label" method="get">
      <div class="row">
        <div class="twelve columns">
          <input style="text-align:center;" class="u-full-width" type="search" placeholder="Search Label" name="q">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="js-search-loading search-loading">
  <img src="assets/spinner.svg" width="50px" />
</div>
